.pusher {
	margin-left: 0 !important;
	padding-left: 0 !important;
	display: inline-block;
}

.addVaccinationBtn {
	margin-top: 20px;
}

.field label{
	display: inline-block;
	width: 30%;
}

.field input{
	display: inline-block;
	width: 70%;
}