<template name='addInsurance'>
		{{> quickForm collection='DogInsurances' id='insertInsuranceForm' type='insert'}}
<!-- 		<fieldset>
			<legend>Add Insurance</legend>
				{{> afQuickField name='company'}}
				{{> afQuickField name='product'}}
				{{> afQuickField name='price'}}
				{{> afQuickField name='life'}}
				{{> afQuickField name='vet'}}
				{{> afQuickField name='fromDate'}}
				{{> afQuickField name='toDate'}}
				{{> afQuickField name='insuranceNumber'}}
				{{> afQuickField name='policyTaker'}}
				{{> afQuickField name='comment' rows='5' }}
		</fieldset>
		<button type='submit' class='button'>Spara</button>
	{{/autoForm}} -->
</template>