<head>
	<title>Dogpad</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<template name='layout'>
  {{>menu}}
  <div class="ui bottom attached segment pushable">
    <div class="ui labeled icon left inline vertical sidebar menu uncover visible">
      <a  href='/' class="item"><i class="home icon"></i>Home</a>
      <a class="item">
        {{> dogsAccordion}}
      </a>
      <a class="item">
        <i class="smile icon"></i>
        Friends
      </a>
      <a class="item">
        <i class="calendar icon"></i>
        Calender
      </a>
    </div>
   <div class="pusher">
      <div class="ui basic segment">
        <div class='item'>
          {{>yield}}
        </div>
      </div>
    </div>
  </div>
</template>
