<template name='menu'>
	<div class="ui top attached menu">		
		<a href='/' class="item">
	    <i class="paw icon"></i>
	    Dogpad
	  </a>
		<a class="item">
	    <i class="sidebar icon"></i>
	    Meny
	  </a>
	  <div class="ui dropdown icon item">
	    <i class="wrench icon"></i>
	    <div class="menu">
	      <div class="item">
	        <i class="dropdown icon"></i>
	        <span class="text">Ny</span>
	        <div class="menu">
	          <div class="item"><a href='/newDog'>Hund</a></div>
	          <div class='item newContactBtn'>Kontakt</div>
	          <div class='item'>Påminnelse</div>
	        </div>
	      </div>
	      <div class="item">Inställningar</div>
	      <div class="item">
	        Dela
	      </div>
	    </div>
	  </div>
	  <div class="menu signIn">
	    <div class="item">
	      {{>loginButtons}}
	    </div>
	  </div>
	</div>
</template>