<template name='newContact'>
	<div class='ui modal newContactModal'>
	  <i class="close icon"></i>
	  <div class="header">Ny kontakt</div>
		<div class='content formHorizonatal'>
			{{#autoForm collection='Contacts' id='insertContactForm' type='insert'}}
				<fieldset>
					{{>afQuickField name='firstName'}}
					{{>afQuickField name='lastName'}}
					{{>afQuickField name='company'}}
					{{>afQuickField name='phone'}}
					{{>afQuickField name='email'}}
					{{>afQuickField name='website'}}
					{{>afQuickField name='address' rows=5}}
					{{>afQuickField name= 'comment' rows=5}}
				</fieldset>
				<button type='submit' class='ui button'>Spara</button>
			{{/autoForm}}
		</div>
	</div>
</template>