<template name='insurance'>
	{{#if insurance}}
		{{#with insurance}}
			<p>Bolag: {{company}}</p>
			<p>Produkt: {{product}}</p>
			<p>Premie: {{price}}</p>
			<p>Livbelopp: {{life}}</p>
			<p>Veterinärbelop: {{vet}}</p>
			<p>From. dat: {{fromDate}}</p>
			<p>Tom. dat: {{toDate}}</p>
			<p>Försäkringsnummer: {{insuranceNumber}}</p>
			<p>Står i namn: {{policyTaker}}</p>
			<p>Kommentar: {{comment}}</p>
			<p>{{dogId}}</p>
			<br>
			<a href='/changeInsurance/{{dogId}}' class='ui button'>Change</a>
		{{/with}}
	{{else}}
		{{>addInsurance}}
	{{/if}}
</template>